*.bak
simulation/*
db/*
incremental_db/*
*.rpt
*.htm
*.sof
*.summary
*.jdi
*.sld
*.qws
cnt24.*
cnt60.*
cntn.vhd
ctrl.vhd
de2-35-pins.txt
DigitalClock_assignment_defaults.qdf
DigitalClock.done
DigitalClock.fit.smsg
DigitalClock.pin
DigitalClock.pof
DigitalClock0_assignment_defaults.qdf
DigitalClock0_description.txt
DigitalClock0.done
DigitalClock0.fit.smsg
DigitalClock0.pin
DigitalClock0.pof
DigitalClock1_assignment_defaults.qdf
DigitalClock1_description.txt
digitalclock1_tb.vhd
DigitalClock1.done
DigitalClock1.fit.smsg
DigitalClock1.pin
DigitalClock1.pof
DigitalClock2_assignment_defaults.qdf
DigitalClock2_description.txt
DigitalClock2.done
DigitalClock2.fit.smsg
DigitalClock2.pin
DigitalClock2.pof
DigitalClock3_assignment_defaults.qdf
DigitalClock3_description.txt
DigitalClock3.done
DigitalClock3.fit.smsg
DigitalClock3.pin
DigitalClock3.pof
